In [2]:
import requests
import re
import pandas as pd
import pymysql
from sqlalchemy import create_engine
import time
# 初始化
pymysql.install_as_MySQLdb()
#  设置连接路径
DB_STRING='mysql+mysqlconnector://root:123456@127.0.0.1:3306/stock?charset=utf8'
engine=create_engine(DB_STRING)
engine.connect()

for clawler in range(600001,600029):
    # 爬取的url
    try:
        flag=False
        url='http://d.10jqka.com.cn/v6/line/17_{}/02/last3600.js'.format(clawler)
        print(url)
        # 将请求到的js文件保存到text中
        text=requests.get(url=url).text
        time.sleep(2)
        # 是否爬取到数据，如果没有则再尝试一次
        if len(text)<100:
            print("第二次尝试")
            text=requests.get(url=url).text
            time.sleep(1)
            if(len(text)<1000):
                print("第三次次尝试")
                text=requests.get(url=url).text
        # 使用正则表达式 匹配出需要的股票名字，code和每日数据
        if len(text)>1000:
            name=re.findall(r'"name":(.*),"data"',text)
            data=re.findall(r'"data":(.*?),"marketType"',text)
            code=re.findall(r'17_(.*?)_02',text)
            # 将字符重新编码
            name[0]=name[0].encode('utf-8').decode('unicode_escape').replace('"','')
            # 创建一个临时列表
            print(name[0])
            arr=[]
            # 清洗掉多余的"
            data[0].replace('"','')
            for i in data[0].split(';'):
                # 清洗出不需要的数据
                n=i.replace(r',,,','').replace(r',,',',').replace('"','')
                m=[]
                # 为每一列添加股票名字
                m.append(name[0])
                # 为每一列添加股票code 
                m.append(code[0])
                for j in n.split(','):
                    m.append(j)
                # 将需要的数据添加列表中
                arr.append(m)
            # 创建一个dataFrame 使用list初始化
            print(arr[0])
            df=pd.DataFrame(arr)
            # 设置每列的列名
            df.columns=['name','code','date','open','max','min','close','vol','transcation','turnover']
            # 将每列数据重新设置格式
            df['date']=df['date'].astype('datetime64')
            df['open']=df['open'].astype('float64')
            df['close']=df['close'].astype('float64')
            df['max']=df['max'].astype('float64')
            df['min']=df['min'].astype('float64')
            df['vol']=df['vol'].astype('float64')
            df['transcation']=df['transcation'].astype('float64')
            df['turnover']=df['turnover'].astype('float64')
            # 输出3条数据是否爬取成功
            print(df.head(3))
            # 判断是否已经爬取的数据了
            if len(df)>1800:
                # 将数据写入mysql 数据库中
                print(len(df))
                df.to_sql('originstock',con=engine,if_exists='append',index=False)
    except:
        print('\r\n 无法写入数据库',code,name)

http://d.10jqka.com.cn/v6/line/17_600001/02/last3600.js
邯郸钢铁
['邯郸钢铁', '600001', '19980122', '8.000', '8.490', '7.880', '7.910', '109192400', '879181000.0000.000', '0']

 无法写入数据库 ['600001'] ['邯郸钢铁']
http://d.10jqka.com.cn/v6/line/17_600002/02/last3600.js
第二次尝试
齐鲁石化
['齐鲁石化', '600002', '19980408', '5.470', '5.480', '5.200', '5.250', '128095600', '678466000.0000.000', '0']

 无法写入数据库 ['600002'] ['齐鲁石化']
http://d.10jqka.com.cn/v6/line/17_600003/02/last3600.js
ST东北高
['ST东北高', '600003', '19990810', '5.350', '7.800', '5.310', '6.820', '151209300', '940598000.0000.000', '0']

 无法写入数据库 ['600003'] ['ST东北高']
http://d.10jqka.com.cn/v6/line/17_600004/02/last3600.js
第二次尝试
白云机场
['白云机场', '600004', '20080117', '26.85', '27.03', '24.62', '25.78', '6729410', '142802040.00', '1.3540']
   name    code       date   open    max    min  close        vol  \
0  白云机场  600004 2008-01-17  26.85  27.03  24.62  25.78  6729410.0
1  白云机场  600004 2008-01-18  25.79  25.94  25.18  25.29  4063107.0
2  白云机场  600004 2008-01-21  25.29  25.66  23.81  23.86  3976005.0

   transcation  turnover
0  142802040.0     1.354
1   84634067.0     0.818
2   80237852.0     0.800
3600
http://d.10jqka.com.cn/v6/line/17_600005/02/last3600.js
第二次尝试
第三次次尝试
http://d.10jqka.com.cn/v6/line/17_600006/02/last3600.js
东风汽车
['东风汽车', '600006', '20071022', '25.92', '26.45', '25.36', '25.52', '11952722', '103953540.00', '1.4980']
   name    code       date   open    max    min  close         vol  \
0  东风汽车  600006 2007-10-22  25.92  26.45  25.36  25.52  11952722.0
1  东风汽车  600006 2007-10-23  25.46  25.78  24.51  25.20  13608026.0
2  东风汽车  600006 2007-10-24  25.22  25.57  24.32  24.40  17478420.0

   transcation  turnover
0  103953540.0     1.498
1  115670423.0     1.705
2  145722060.0     2.190
3600
http://d.10jqka.com.cn/v6/line/17_600007/02/last3600.js
第二次尝试
中国国贸
['中国国贸', '600007', '20080114', '28.12', '28.88', '27.92', '28.42', '3959172', '85941334.00', '1.9800']
   name    code       date   open    max    min  close        vol  \
0  中国国贸  600007 2008-01-14  28.12  28.88  27.92  28.42  3959172.0
1  中国国贸  600007 2008-01-15  28.43  28.83  28.00  28.73  5515228.0
2  中国国贸  600007 2008-01-16  28.18  29.18  28.12  28.38  4449836.0

   transcation  turnover
0   85941334.0     1.980
1  118563609.0     2.758
2   96994445.0     2.225
3600
http://d.10jqka.com.cn/v6/line/17_600008/02/last3600.js
首创环保
['首创环保', '600008', '20071129', '47.38', '48.42', '47.38', '48.01', '16876030', '284995120.00', '0']
   name    code       date   open    max    min  close         vol  \
0  首创环保  600008 2007-11-29  47.38  48.42  47.38  48.01  16876030.0
1  首创环保  600008 2007-11-30  48.40  48.40  45.90  46.06  10824019.0
2  首创环保  600008 2007-12-03  45.85  47.72  45.15  46.73   7622426.0

   transcation  turnover
0  284995120.0       0.0
1  178422580.0       0.0
2  125161320.0       0.0
3600
http://d.10jqka.com.cn/v6/line/17_600009/02/last3600.js
上海机场
['上海机场', '600009', '20071228', '90.64', '91.06', '88.41', '88.69', '9053232', '341446590.00', '0.9080']
   name    code       date   open    max    min  close        vol  \
0  上海机场  600009 2007-12-28  90.64  91.06  88.41  88.69  9053232.0
1  上海机场  600009 2008-01-02  88.69  90.27  87.56  89.23  5274321.0
2  上海机场  600009 2008-01-03  89.34  89.34  87.02  87.56  7171264.0

   transcation  turnover
0  341446590.0     0.908
1  199316850.0     0.529
2  265475880.0     0.719
3600
http://d.10jqka.com.cn/v6/line/17_600010/02/last3600.js
第二次尝试
包钢股份
['包钢股份', '600010', '20070925', '23.68', '23.68', '22.76', '22.85', '73752314', '677617400.00', '0']
   name    code       date   open    max    min  close         vol  \
0  包钢股份  600010 2007-09-25  23.68  23.68  22.76  22.85  73752314.0
1  包钢股份  600010 2007-09-26  22.87  23.41  21.99  22.27  71430297.0
2  包钢股份  600010 2007-09-27  22.27  22.64  21.94  22.62  55981718.0

   transcation  turnover
0  677617400.0       0.0
1  641251050.0       0.0
2  496454770.0       0.0
3600
http://d.10jqka.com.cn/v6/line/17_600011/02/last3600.js
第二次尝试
华能国际
['华能国际', '600011', '20071224', '40.87', '42.43', '40.48', '42.07', '14203817', '210712960.00', '0']
   name    code       date   open    max    min  close         vol  \
0  华能国际  600011 2007-12-24  40.87  42.43  40.48  42.07  14203817.0
1  华能国际  600011 2007-12-25  42.20  42.30  41.39  41.78   6716093.0
2  华能国际  600011 2007-12-26  41.78  42.66  41.78  42.35   9131871.0

   transcation  turnover
0  210712960.0       0.0
1   99786999.0       0.0
2  137348640.0       0.0
3600
http://d.10jqka.com.cn/v6/line/17_600012/02/last3600.js
第二次尝试
皖通高速
['皖通高速', '600012', '20080114', '12.27', '12.81', '12.27', '12.79', '10229252', '96932545.00', '2.1960']
   name    code       date   open    max    min  close         vol  \
0  皖通高速  600012 2008-01-14  12.27  12.81  12.27  12.79  10229252.0
1  皖通高速  600012 2008-01-15  12.79  12.79  12.41  12.65  10969133.0
2  皖通高速  600012 2008-01-16  12.53  12.77  12.43  12.67  15432621.0

   transcation  turnover
0   96932545.0     2.196
1  104495073.0     2.355
2  146689620.0     3.313
3600
http://d.10jqka.com.cn/v6/line/17_600013/02/last3600.js
第二次尝试
第三次次尝试
http://d.10jqka.com.cn/v6/line/17_600014/02/last3600.js
第二次尝试
第三次次尝试
http://d.10jqka.com.cn/v6/line/17_600015/02/last3600.js
华夏银行
['华夏银行', '600015', '20071221', '29.34', '30.18', '29.32', '29.71', '14157617', '260954340.00', '0']
   name    code       date   open    max    min  close         vol  \
0  华夏银行  600015 2007-12-21  29.34  30.18  29.32  29.71  14157617.0
1  华夏银行  600015 2007-12-24  29.87  30.49  29.45  30.42  29032276.0
2  华夏银行  600015 2007-12-25  30.43  30.54  30.04  30.10  22099161.0

   transcation  turnover
0  260954340.0       0.0
1  539701260.0       0.0
2  415016950.0       0.0
3600
http://d.10jqka.com.cn/v6/line/17_600016/02/last3600.js
民生银行
['民生银行', '600016', '20071228', '119.53', '121.42', '117.48', '119.21', '127785477', '1911326800.00', '0']
   name    code       date    open     max     min   close          vol  \
0  民生银行  600016 2007-12-28  119.53  121.42  117.48  119.21  127785477.0
1  民生银行  600016 2008-01-02  119.84  121.42  118.66  120.47   89539684.0
2  民生银行  600016 2008-01-03  120.55  121.03  117.48  119.29   83257399.0

    transcation  turnover
0  1.911327e+09       0.0
1  1.340571e+09       0.0
2  1.227842e+09       0.0
3600
http://d.10jqka.com.cn/v6/line/17_600017/02/last3600.js
日照港
['日照港', '600017', '20071205', '12.45', '12.70', '12.15', '12.51', '3224575', '39790817.00', '1.7530']
  name    code       date   open    max    min  close        vol  transcation  \
0  日照港  600017 2007-12-05  12.45  12.70  12.15  12.51  3224575.0   39790817.0
1  日照港  600017 2007-12-06  12.51  12.60  12.26  12.38  1953544.0   23859825.0
2  日照港  600017 2007-12-07  12.41  12.73  12.28  12.72  3339766.0   41456145.0

   turnover
0     1.753
1     1.062
2     1.815
3600
http://d.10jqka.com.cn/v6/line/17_600018/02/last3600.js
上港集团
['上港集团', '600018', '20071018', '126.92', '126.92', '120.88', '120.99', '59216090', '607071730.00', '0']
   name    code       date    open     max     min   close         vol  \
0  上港集团  600018 2007-10-18  126.92  126.92  120.88  120.99  59216090.0
1  上港集团  600018 2007-10-19  121.32  126.05  120.01  123.19  66495065.0
2  上港集团  600018 2007-10-22  122.20  123.30  116.60  116.93  48192980.0

   transcation  turnover
0  607071730.0       0.0
1  684054850.0       0.0
2  483798140.0       0.0
3600
http://d.10jqka.com.cn/v6/line/17_600019/02/last3600.js
第二次尝试
宝钢股份
['宝钢股份', '600019', '20070817', '20.25', '20.93', '19.76', '19.82', '85661198', '1289466930.00', '1.8090']
   name    code       date   open    max    min  close          vol  \
0  宝钢股份  600019 2007-08-17  20.25  20.93  19.76  19.82   85661198.0
1  宝钢股份  600019 2007-08-20  20.44  21.62  20.44  21.62  129400495.0
2  宝钢股份  600019 2007-08-21  22.01  22.70  21.99  22.14  157417480.0

    transcation  turnover
0  1.289467e+09     1.809
1  2.072410e+09     2.306
2  2.650872e+09     2.806
3600
http://d.10jqka.com.cn/v6/line/17_600020/02/last3600.js
中原高速
['中原高速', '600020', '20071221', '19.38', '19.89', '19.29', '19.80', '14003536', '110131881.00', '0']
   name    code       date   open    max    min  close         vol  \
0  中原高速  600020 2007-12-21  19.38  19.89  19.29  19.80  14003536.0
1  中原高速  600020 2007-12-24  19.96  20.28  19.77  19.82  17939598.0
2  中原高速  600020 2007-12-25  19.82  20.07  19.70  19.89   8297774.0

   transcation  turnover
0  110131881.0       0.0
1  143669080.0       0.0
2   65950671.0       0.0
3600
http://d.10jqka.com.cn/v6/line/17_600021/02/last3600.js
第二次尝试
第三次次尝试
http://d.10jqka.com.cn/v6/line/17_600022/02/last3600.js
山东钢铁
['山东钢铁', '600022', '20061030', '9.00', '9.53', '9.00', '9.39', '22928405', '119931609.00', '6.6810']
   name    code       date  open   max   min  close         vol  transcation  \
0  山东钢铁  600022 2006-10-30  9.00  9.53  9.00   9.39  22928405.0  119931609.0
1  山东钢铁  600022 2006-10-31  9.45  9.60  9.20   9.21  14176835.0   74664511.0
2  山东钢铁  600022 2006-11-01  9.21  9.43  9.12   9.29  10685905.0   55200381.0

   turnover
0     6.681
1     4.131
2     3.114
3600
http://d.10jqka.com.cn/v6/line/17_600023/02/last3600.js
浙能电力
['浙能电力', '600023', '20131219', '8.50', '9.39', '8.36', '8.88', '277465910', '2439180400.00', '0']
   name    code       date  open   max   min  close          vol  \
0  浙能电力  600023 2013-12-19  8.50  9.39  8.36   8.88  277465910.0
1  浙能电力  600023 2013-12-20  8.00  8.17  7.99   7.99   33114584.0
2  浙能电力  600023 2013-12-23  7.19  7.82  7.19   7.40  151465260.0

    transcation  turnover
0  2.439180e+09       0.0
1  2.654108e+08       0.0
2  1.115785e+09       0.0
2168

 无法写入数据库 ['600023'] ['浙能电力']
http://d.10jqka.com.cn/v6/line/17_600024/02/last3600.js
第二次尝试
第三次次尝试
http://d.10jqka.com.cn/v6/line/17_600025/02/last3600.js
第二次尝试
第三次次尝试
华能水电
['华能水电', '600025', '20171215', '2.60', '3.12', '2.60', '3.12', '3242494', '10068969.00', '0.1800']
   name    code       date  open   max   min  close        vol  transcation  \
0  华能水电  600025 2017-12-15  2.60  3.12  2.60   3.12  3242494.0   10068969.0
1  华能水电  600025 2017-12-18  3.43  3.43  3.43   3.43  1923883.0    6598919.0
2  华能水电  600025 2017-12-19  3.77  3.77  3.77   3.77  2368529.0    8929354.0

   turnover
0     0.180
1     0.107
2     0.132
http://d.10jqka.com.cn/v6/line/17_600026/02/last3600.js
中远海能
['中远海能', '600026', '20070807', '37.75', '38.51', '36.72', '37.61', '11118648', '312822450.00', '2.4630']
   name    code       date   open    max    min  close         vol  \
0  中远海能  600026 2007-08-07  37.75  38.51  36.72  37.61  11118648.0
1  中远海能  600026 2007-08-08  37.58  37.60  35.30  36.31  10232274.0
2  中远海能  600026 2007-08-09  36.29  36.98  35.99  36.45   6732635.0

   transcation  turnover
0  312822450.0     2.463
1  279700780.0     2.266
2  184766340.0     1.491
3600

 无法写入数据库 ['600026'] ['中远海能']
http://d.10jqka.com.cn/v6/line/17_600027/02/last3600.js
第二次尝试
华电国际
['华电国际', '600027', '20071225', '12.35', '12.65', '12.11', '12.54', '14850901', '139568180.00', '0']
   name    code       date   open    max    min  close         vol  \
0  华电国际  600027 2007-12-25  12.35  12.65  12.11  12.54  14850901.0
1  华电国际  600027 2007-12-26  12.54  12.78  12.41  12.56  15271629.0
2  华电国际  600027 2007-12-27  12.54  12.76  12.45  12.57  14892490.0

   transcation  turnover
0  139568180.0       0.0
1  145947150.0       0.0
2  142189320.0       0.0
3600
http://d.10jqka.com.cn/v6/line/17_600028/02/last3600.js
中国石化
['中国石化', '600028', '20080110', '32.02', '32.02', '30.91', '31.19', '165525440', '3926185600.00', '0']
   name    code       date   open    max    min  close          vol  \
0  中国石化  600028 2008-01-10  32.02  32.02  30.91  31.19  165525440.0
1  中国石化  600028 2008-01-11  31.24  31.52  30.29  30.68  123822172.0
2  中国石化  600028 2008-01-14  30.75  31.16  30.15  30.82   83908717.0

    transcation  turnover
0  3.926186e+09       0.0
1  2.898843e+09       0.0
2  1.946482e+09       0.0
3600